ol {
    background-color: yellow;
}

ol li:nth-child(even){
    color:darkgreen;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

.titulos {
    color: red;
}

.titulos em {
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}

li em{
    font-weight: bold;
}

.blueLi {
    color: blue;
}

.javaPink {
    background-color: pink;
}

ul li a:hover {
    font-weight: bold;
}

.stackOrange{}

.w3Green {}

.mdnBlack {}

.devYellow {}

.trybeGreen {}