/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** ======= Definição do conteúdo da página p/ até 800px ======= */

@media screen and (max-width: 800px){

  body {
    text-align: center;
    font-size: 18px;
    background-color: rgb(100, 167, 167);
  }

  article {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-bottom: 10px;
    justify-content: space-evenly;
    border: double 5px whitesmoke;
    border-radius: 10px;
    align-items: center;
  }

  article p:first-child {
    max-width: 100%;
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }

  article p:last-child {
    max-width: 100%;
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin-top: 0;
    margin: 5px;
  }

  header {
    display: flex;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: bolder;
  }

  h2 {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 167, 167);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 5px 10px;
  }

  img {
      max-width: 100%;
  }

  main {
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding-bottom: 5px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
      margin: 10px;
      margin-top: 0;
      border-radius: 10px;
      background-color: rgb(100, 167, 167);
      border: double 5px whitesmoke;
      padding: 20px 10px;
      max-width: 100%;
  }

  img {
    border-radius: 5px;
    border: double 5px whitesmoke;
  }

  figcaption {
    margin-top: 20px;
    font-size: .8em;
    font-weight: 600;
    border: double 5px whitesmoke;
  }

}

/** ======= Definição do conteúdo da página p/ até 800px ======= */

@media screen and (min-width: 800px) and (max-width: 1300px){

  body {
    text-align: center;
    font-size: 22px;
    background-color: rgb(100, 167, 167);
  }

  article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: space-evenly;
    border: double 5px whitesmoke;
    border-radius: 10px;
  }

  article p:first-child {
    max-width: 55%;
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 5px;
  }

  article p:last-child {
    max-width: 35%;
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 5px;
  }

  header {
    display: flex;
  }

  h1 {
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 100px;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 167, 167);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 5px 20px;
  }

  img {
      max-width: 100%;
  }

  main {
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding-bottom: 10px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
      margin: 10px;
      margin-top: 0;
      border-radius: 10px;
      background-color: rgb(100, 167, 167);
      border: double 5px whitesmoke;
      padding: 20px 10px;
      max-width: 45%;
  }

  img {
    border-radius: 10px;
    border: double 5px whitesmoke;
  }

  figcaption {
    margin-top: 20px;
    font-size: .8em;
    font-weight: 900;
    color: whitesmoke;
    border: double 5px whitesmoke;
  }

}

/** ======= Definição do conteúdo da página p/ até 800px ======= */

@media screen and (min-width: 1300px){

  body {
    text-align: center;
    font-size: 30px;
    background-color: rgb(100, 135, 167);
  }

  article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: space-evenly;
    border: double 5px whitesmoke;
    border-radius: 10px;
  }

  article p:first-child {
    max-width: 55%;
    background-color: rgb(100, 167, 167);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 40px 30px;
  }

  article p:last-child {
    max-width: 35%;
    background-color: rgb(100, 167, 167);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 40px 30px;
  }

  header {
    display: flex;
  }

  h1 {
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 100px;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(185, 238, 238);
    border: double 5px whitesmoke;
    border-radius: 10px;
    padding: 10px 70px;
  }

  main {
    background-color: rgb(100, 167, 167);
    border: double 5px whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding-bottom: 25,
    +
    px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
      margin: 10px;
      margin-top: 0;
      border-radius: 10px;
      background-color: rgb(100, 135, 167);
      border: double 5px whitesmoke;
      padding: 50px;
      max-width: 45%;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
    border: double 5px whitesmoke;
  }

  figcaption {
    border-radius: 5px;
    padding: 3px;
    margin-top: 20px;
    font-size: 1.5em;
    color: rgb(100, 135, 167);
    border: double 5px whitesmoke;
    background-color: rgb(185, 238, 238);
  }

}