/** ======= Criando bordas hover nas divs. ======= */

div {
    border: solid 2px white;
    margin-top: 1px;
}

div:hover {
    border: solid 2px orchid;
    margin-top: 1px;
}

/** ======= Colocando uma cor em cada div, sem classes ou id's. ======= */


/** ======= Estilizando cada tag h3. ======= */


/** ======= Deixando a 3ª div maior do que as demais. ======= */


/** ======= Colocando as tags h3 ímpares com texto itálico.  ======= */

body>div:nth-child(odd) {
  font-style: italic;
}